body {
    background-color: rgb(38, 41, 38);
    color: orange;
}

.navi-container {
    position: fixed;
    top: 0;
    z-index: 1000;
    border: 0;
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.navi-bar {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: orange;
    font-weight: 1000;    
}

.header {
    height: 318px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-img {
    position: relative;
    background-image: url(./images/header_img.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 956px;
    height: 318px;
    border: 5px solid black;
    border-radius: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: large;
}

.event-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
    border: 1px;

}

.event-card {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 30%;
    padding-bottom: 20px;
    height: 20em;
    border: 1px solid rgb(151, 98, 0);
    border-radius: 10px;
    overflow: visible;
}

.load-more-button {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#load-more-button {
    display: inline-block;
    padding: 0.3em 1.2em;
    border: 0.3em solid black;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    background-color: orange;
    text-align: center;
    transition: all 0.2s;
}

#load-more-button:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: rgb(151, 98, 0);
}

.event-card:hover {
    cursor: pointer;
    border-color: orange;
}

.event-img {
    background-image: url(./images/default_venue_image.png);
    background-size: cover;
    background-position: center;
    background-color: rgb(38, 41, 38);
    height: 80%;
    border-radius: 10px 10px 0px 0px;
}

.event-info {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    background-color: rgb(38, 41, 38);
    height: 10em;
    color: orange;
    border-radius: 0px 0px 10px 10px;
}

.event-name {
    font-weight: 400;
    font-size: clamp(18px, 1.5vw, 26px);
}

.event-date {
    font-weight: 400;
    font-size: 18px;
}

.event-venue {
    font-weight: 400;
    font-size: clamp(18px, 1.8vw, 26px);
    display: flex;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .navi-bar {
        width: 90%;
    }

    .event-card {
        width: 66%; /* Adjusted width for smaller screens */
    }

    .header {
        height: 150px; /* Adjusted height for smaller screens */
    }

    .header-img {
        width: 100%; /* Full width for smaller screens */
    }

    h2 {
        font-size: medium; /* Adjusted font size for smaller screens */
    }

    .event-content {
        padding: 10px; /* Adjusted padding for smaller screens */
    }

    .load-more-button {
        padding-top: 10px; /* Adjusted padding for smaller screens */
    }
    .event-name {
        font-size: 18px; /* Adjusted font size for smaller screens */
    }
    .event-venue {
        font-size: 22px; /* Adjusted font size for smaller screens */
    }
}